body {
  margin: 0;
  padding: 0;
  background-color: grey;
}
img:hover {cursor: pointer;}
#comando{
	display:none;
	position:absolute;
	top:510px;
}
#menucard2{
	position: absolute;
	left: 740px;
	top:630px;
}
#output{
	position: absolute;
	left:280px;
	top:515px;
	padding: 5px;
	width:571px;
	height:100px;
	background-color:black;
	font-size:12px;
	text-shadow: 2px 2px 4px #000000;
	color:#00ff2f;	
}
#hand{
  border-style: groove;
	background-color:#4f4f4f;
	color:white;
  padding: 4px;
  position: absolute;
  width: 290px;
  height: 283px;
  overflow-y: scroll; /* Show vertical scrollbar */
  left: 865px;
	top:355px;
}
#hand img{margin:1px;}
#main{
  margin:2px;
  width: 860px;
  height: 505px;
  background-image: url("../img/dale.png");
	background-size: contain;
}
#container{border-style: groove;}
#egg_cover{
  display: none;
  position: absolute;
  top: 355px;
  left: 64px;
}
#egg_count{
  position: absolute;
  top: 323px;
  left: 63px;
}
#deck_cover{
  display: none;
  position: absolute;
  top: 71px;
  left: 744px;
}
#deck_count{
  position: absolute;
  top: 67px;
  left: 833px;
}
#btndeck{
  position: absolute;
  top: 44px;
  left: 700px;
}
#sec_area{
	position: absolute;
	text-align:center;
	padding:0px;
	left: 15px;
	top: 190px;
	max-width:150px;
	height:100px;
	overflow: hidden;
}
.security{
	display:none;
	margin:0px;
	transform: rotate(-90deg);
}
#sec_count{
  position: absolute;
  top: 120px;
  left: 10px;
}
#btnsec1{
  position: absolute;
  top: 100px;
  left: 0px;
}
#btnsec2{
  position: absolute;
  top: 100px;
  left: 60px;
}
#trash{
  position: absolute;
  top: 214px;
  left: 745px;
}
#trash_count{
  position: absolute;
  top: 217px;
  left: 837px;
}
#marker{
  width: 35px;
  position: absolute;
  top: 13px;
  left: 414px;
  animation: rotate 5s linear infinite;
}
#showcase{
	display:none;
	background-color:grey;
	text-align:center;
	overflow-y: scroll;
	position: absolute;
	width:800px;
	height:200px;
	top: 320px;
  left: 225px;
	border:2px solid yellow;
}
#inside img{
	width: 117px;
	height: 165px;
}
#exit{
	position:absolute;
	top: 0px;
  left: 0px;
	width:25px !important;
	height:25px !important;
}
.digicard{height:117px;}
.efekt{margin:2px;}
.memo{color: yellow;}
.tutu{color: blue;}
.gameflow{
	color:rgba(255, 255, 255, 0.2);
	position: absolute;
	font-family:Impact;
	font-size:36px;
	top:460px;
	left:620px;
}
.previa{
  position: absolute;
	left:865px;
}
.previa img{height: 350px;}
.conut{
  color: yellow;
  text-shadow: 2px 2px 4px #000000;
  font-size: 140%;
}
.manu {
  display: none;
  position: absolute;
  width: 80px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
}
.manu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 5px;
}
.manu button:hover {
  background-color: lightgray;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/* unvisited link */
a:link {color: red;}
/* visited link */
a:visited { color: black;}
/* mouse over link */
a:hover {color: hotpink;}
/* selected link */
a:active {color: blue;}
