body{
  padding: 0;
  margin: 0;
	background-color: #36313f;	
}
h1{
	margin:5px;
	color: #13ed67;
}
#deckpreview{
	float:left;
	margin: 5px;
	width:740px;
	border: 1px solid green;
	padding:3px;
}
#sample1 img, #sample2 img{
	height:90px;
	margin:1px;
}
.widow{
	margin:0;
	width:1180px;
	height:650px;
	color: white;
	padding:1px;
	background-color: #36313f;
	text-shadow: 2px 2px 4px #000000;
}
.flute{		
	float:left;
	width: 360px;
	margin: 5px;
	padding: 10px;
	border: 1px solid green;
}
#gamebtns{
	display:none;
}
.previa{
	margin-left:27px;
	max-height: 360px;
	border-radius: 10px;
}
.iroaka{background-color:#F0CECC;}
.iromidori{background-color:#D5F0CC;}
.irokiiro{background-color:#EFF0CC;}
.iromurasaki{background-color:#E4CCF0;}
.irokuro{background-color:#5F5F5F;color:white}
.iroao{background-color:#CCD0F0}
.myButton {
	background-color:#44c767;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:2px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
