body{
  padding: 5px;
  margin: 0px;
  background-color: grey;
	color: #f705ef;
	-webkit-text-stroke: 0.5px green;
 }
.flute{			
	background-color: #88b0ba;
	width: 740px;
	margin: 5px;
	margin-left:325px;
	padding: 10px;
	border: 1px solid #a1647d;
	border-radius: 10px;
}
#drugs{position: absolute;}
.previa{
  position: fixed;
  margin: 5px;
	height: 430px;
	border-radius: 10px;
}
.centro{
	text-align:center;
}
#law{
	height:200px;
}
#sample1 img, #sample2 img{
	height:100px;
	margin:1px;
}
.iroao{
	background-color: #1094e0;
	color:white;
}
.iroaka{
	background-color:red;
	color:white;
}
.iromidori{
	background-color:#096e08;
	color:white;
}
.irokiiro{
	background-color:yellow;
	color:black;
}
.iromurasaki{
	background-color:#6008c4;
	color:white;
}
.irokuro{
	background-color:black;
	color:white;
}
.iroao{background-color:}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:2px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.myButton:active {
	position:relative;
	top:1px;
}
